.cardBody {
    margin: auto 35%;
    margin-top: 10%;
}

.addDetailsBody {
    margin: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    border-radius: 5px;

    h3 {
        text-align: center;
        margin-bottom: 30px;
    }
}

.detailsCardBody {
    background: #f4f4f4;
    margin: 5px auto;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .detailsCardContent {
        margin: 0;

        span {
            font-weight: 600;
            font-size: 17px;
        }
    }
}

.add-form-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.addBtn {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px
}

.deleteBtn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.inputBody {
    input {
        padding: 10px;
    }

    label {
        padding-right: 15px;
        font-size: 20px;
    }
}